.App {
  height: 100vh;
  /* min-height: 100vh; */
  font-size: calc(10px + 2vmin);
  background: white;
}

h1, h2, h3, h4, h5, h6, hr {
  margin: 0;
}

header {
  height: 65px;
  background: #f3d250;
  box-shadow: 1px 1px 4px gray;
}

hr {
  border: 0;
  border-top: 7px solid #e7bb10;
}

nav {
  margin: 0;
}

ul {
  display: flex;
  height: 58px;
  justify-content: space-around;
  /* align-items: center; */
  margin: 0;
  padding: 0 10px;
  color: white;
  font-size: 21px;
  font-weight: bold;
  list-style-type: none;
  text-shadow: 2px 2px 2px #e7bb10;
}

li {
  height: 55px;
  line-height: 55px;
}

.home {
  border-bottom: 3px solid white;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.face-box {
  border: 3px solid #e7bb10;
  border-radius: 15px;
}

.inner-face {
  height: 250px;
  width: 250px;
  border: 7px solid #f3d250;
  border-radius: 12px;
  box-shadow: 3px 3px 5px gray;
}

img {
  height: 250px;
  border-radius: 5px;
}

.name-box {
  /* display: flex; */
  /* align-items: center; */
  font-size: 55px;
  font-weight: bold;
  color: #90ccf4;
  text-shadow: 2px 2px 2px #5da2d5;
}

.hr-dev {
  width: 350px;
  border-top: 2px solid #90ccf4;
  box-shadow: 1px 1px 2px #5da2d5;
}

.web-dev {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  color: #90ccf4;
  text-shadow: 2px 2px 2px #5da2d5;
}